body {
  background-color: #ffedf8;
  background-image: url('https://raw.githubusercontent.com/mmarydom/website.github.io/master/85e32cb97a46b38c1146efd36535ccfe--pink-patterns-pretty-patterns.jpg');
  background-size: 50%;
  background-repeat: repeat;

  height: 100vh;
  padding:0;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 960px;
  min-width: 500px;

  font-size:15pt;
  font-family: 'Mitr', sans-serif;
  color: #ffaa00;
}

canvas
{
  position:fixed; left:0; top:0; z-index:-1;
}

.mainbody
{
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  max-width: 960px;
  min-width: 500px;

  background-color:#fdffdb;
  border-radius: 15px 15px 15px 15px;
}

.bodyheader
{
  background-color: #ff7575;
  left: 0;
  top: 0;
  right: 0;
  padding: 0px 0px 0px 190px;
  border-radius: 15px 15px 0px 0px;
}

.bodyheader h2
{
    color: white;

}


.container
{
  max-width: 640px;
  padding: 0;
  margin: 0;
  height: 60px;
  position: relative;
}

.profilepic
{
  display: block;
  top: 0;
  left: 0;
  position: absolute;
}

.bodyheader,.links, .sublinks
{
  overflow: hidden; /*hide content that doesn't fit*/
  position: relative; /* stays with the flow of doc */
}

.links
{
  line-height: 40px;
  display: block;
  padding: 10px;
  margin: 0 60px; /*not working? */
  color: white;
}
.sublinks
{
  line-height: 10px;
  display: block;
  padding: 10px;
  margin: 0 60px; /*not working? */
  color: white;


}


.links > ul, .sublinks > ul
{
  display: flex;
}

.links > ul li, .sublinks > ul li
{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


ul, li
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

}

a {
    color: inherit; /* get color from parent */
    text-decoration: none; /* remove underline */
}


.content
{
  padding: 20px;
  min-height: 600px;
}

.content.grid
{
  padding: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.description
{
  text-align: center;
  margin: auto auto 60px auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.description p
{
  width: 80%;
  text-align: left;
  margin: 0 auto 10px auto;
  line-height:20px;
  font-size: 18px;

}

.description.grid
{
  grid-column: 1;
  text-align: left;
  padding: 0px 20px;
  margin: 0;
}

.description.grid h2
{
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

.description.grid p
{
  width: 100%;
}

.workcited p
{
  color: #383838;
  font-size: 12px;
}

.image
{
  overflow: hidden;
}

.image.grid img
{
  left: 0;
  top: 0;
  width: 100%;
}

.image.rowgallery
{
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* display: inline; */

}

.image.rowgallery img
{
  height: 100%;
}

.image.grid
{
  grid-column: 2;
}

/* make sketchfab iframe fit correctly  */
.sketchfab
{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

}

.sketchfab iframe
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.divcanvas
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}
